#banner {
  /* width: 100%; */
  margin-top: 10px;
}
#nav-banner img {
  width: 100%;
}
.banner img {
    /* text-align: center; */
  width: 100%;
  /* -moz-border-radius: 50%; */
  /* -webkit-border-radius: 50%; */
}
